body {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #333;
    background-image: -webkit-radial-gradient(50% 94%, #4E4E4E 0%, #000000 95%);
    background-image: radial-gradient(50% 94%, #4E4E4E 0%, #000000 95%);
    text-align: center;
}

#login {
    height: 600px;
}

#login img {
    margin: 25px 0 15px;
    width: 127px;
    height: 166px;
}

#help {
    margin-top: 25px;
    font-family: Helvetica;
    font-size: 15px;
    color: #BABABA;
}

#help img {
    margin-top: 15px;
    width: 133px;
    height: 149px;
}

div#remote {
    display: none; /*start with remote hidden*/
}

#next-button {
    width: 327px;
    height: 420px;
}

#remote-button {
    margin: 0 auto;
    width: 320px;
    height: 420px;
    border-radius: 80px;
    
    background-image:  url(img/NEXT.png), -webkit-linear-gradient(-90deg, #D60000 0%, #FF0000 42%, #FF0000 65%, #CF0000 100%);
    background-image:  url(img/NEXT.png), linear-gradient(-180deg, #D60000 0%, #FF0000 42%, #FF0000 65%, #CF0000 100%);
    
    background-repeat: no-repeat;
    background-position: center center;
    
    box-shadow: 0px 6px 6px 0px #FF1515, inset 0px 1px 4px 0px rgba(255,219,143,0.46), inset 0px 0px 12px 5px rgba(255,107,107,0.50), 0 40px 0px #8A0000, 0 40px 6px rgba(0,0,0,0.9), 0 50px 20px rgba(0,0,0,0.4);
    -webkit-transition: linear 0.1s;
}

#remote-button:active {
    box-shadow: 0px 6px 6px 0px #FF1515, inset 0px 1px 4px 0px rgba(255,219,143,0.46), inset 0px 0px 12px 5px rgba(255,107,107,0.50), 0 10px 0px #8A0000, 0 10px 6px rgba(0,0,0,0.9), 0 20px 20px rgba(0,0,0,0.4);
    margin-top: 30px;
}