body {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #333;
    background-image: -webkit-radial-gradient(50% 94%, #4E4E4E 0%, #000000 95%);
    background-image: radial-gradient(50% 94%, #4E4E4E 0%, #000000 95%);
    text-align: center;
}

#login {
    height: 600px;
}

#login img {
    margin: 25px 0 15px;
    width: 127px;
    height: 166px;
}

#help {
    margin-top: 25px;
    font-family: Helvetica;
    font-size: 15px;
    color: #BABABA;
}

#help img {
    margin-top: 15px;
    width: 133px;
    height: 149;
}

div#remote {
    display: none; /*start with remote hidden*/
}

div#next-button {
    background-color: ff0000;
}